:root {
  --text: #080e12;
  --background: #fbfdfe;
  --primary: #3f4f5a;
  --secondary: #94c4e6;
  --accent: #51a5e1;
}

body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  color: var(--text);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4.21rem;
}
h2 {
  font-size: 3.158rem;
}
h3 {
  font-size: 2.369rem;
}
h4 {
  font-size: 1.777rem;
}
h5 {
  font-size: 1.333rem;
}
small {
  font-size: 0.75rem;
}

main {
  flex: 1;
}

#content {
  text-align: center;
}

nav {
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

nav a {
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text);
  transition: 0.3s ease;
}

nav a:hover {
  background-color: var(--accent);
}

nav a:active {
  transform: scale(0.95);
  transition: 0.1s ease;
}

#footer {
  background-color: var(--background);
  padding: 40px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  flex-shrink: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#navBar {
  position: relative;
}

#themeToggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

#themeToggleImg:active {
  transform: scale(0.9);
  transition: 0.1s ease;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #6e6e6e;
  color: #ffffff;
}

body.dark-mode nav a {
  color: #ffffff;
}
body.dark-mode nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

body.dark-mode nav a:hover {
  background-color: #333333;
}

body.dark-mode #footer {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark-mode #themeToggle {
  background-color: transparent;
  color: #ffffff;
}

/* __________ CONTACT FORM __________ */

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 60%;
}

.inputContainer {
  width: 100%;
  display: flex;
  margin: 5px;
}

.inputBox {
  width: 100%;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid;
  border-radius: 5px;
  font-family: var(--paragraph-font-family);
  resize: none;
}

label {
  display: flex;
  align-items: center;
}

.contactFormIcon {
  stroke: black;
  stroke-width: 1.5;
  width: 20px;
  height: 20px;
  stroke-linecap: "round";
  stroke-linejoin: "round";
  fill: none;
}

button {
  border: none;
  margin: 10px 10px;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  transition: 0.3s ease;
  font-family: var(--paragraph-font-family);
  color: var(--dark-text-color);
  text-decoration: none;
}

button:hover {
  background-color: var(--second-bg-color);
  color: white;
}

button:active {
  transform: scale(0.95);
  transition: 0.1s ease;
}
