:root {
  --text: #111213;
  --background: #f3f5f7;
  --primary: #5781b7;
  --secondary: #8ab0df;
  --accent: #629ee8;

  --headingFont: "Roboto Slab", sans-serif;
  --paragraphFont: "Roboto Condensed", sans-serif;

  --borderRadius: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--paragraphFont);
  font-weight: 400;
  color: var(--text);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headingFont);
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4.21rem;
}
h2 {
  font-size: 3.158rem;
}
h3 {
  font-size: 2.369rem;
}
h4 {
  font-size: 1.777rem;
}
h5 {
  font-size: 1.333rem;
}
small {
  font-size: 0.75rem;
}

main {
  flex: 1;
  margin: auto;
  max-width: 1000px;
}

#content {
  text-align: center;
}

/* __________ NAV __________ */

nav {
  font-family: var(--headingFont);
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

nav a {
  padding: 15px;
  border-radius: var(--borderRadius);
  text-decoration: none;
  color: var(--text);
  transition: 0.3s ease;
}

nav a:hover {
  background-color: var(--accent);
}

nav a:active {
  transform: scale(0.95);
  transition: 0.1s ease;
}

#navBar {
  position: relative;
}

/* __________ CONTACT FORM __________ */

#contactFormContainer {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.formRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

label img svg {
  width: 25px;
  height: 25px;
}

input,
textarea {
  flex: 1;
  padding: 10px;
  margin: 0px;
  border: 1px solid black;
  border-radius: var(--borderRadius);
  font-family: var(--paragraphFont);
}

textarea {
  resize: none;
  field-sizing: content;
}

form button {
  margin: auto;
  width: 30%;
  padding: 10px 20px;
  background-color: var(--primary);
  border: none;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  field-sizing: content;
}

button:hover {
  background-color: var(--accent);
}

/* __________ SOCIAL MEDIA LINKS __________ */

ul {
  display: flex;
  justify-content: center;
  gap: 5px;
  list-style: none;
  padding: 0;
}

ul li a {
  padding: 5px;
  display: flex;
  justify-content: center;
}

ul li a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}
ul li a img:hover {
  transform: scale(1.1);
}

/* __________ PROJECTS __________ */

#projectsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.aProjectBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--borderRadius);
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-decoration: none; /* Remove underline for links */
  color: inherit; /* Inherit text color */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.aProjectBox:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projectImageContainer {
  position: relative;
}

.projectImageContainer img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
  filter: brightness(0.5);
}

.projectImageContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 5px 5px 0 0;
  pointer-events: none;
}

.projectInfoContainer {
  padding: 5px;
  text-align: left;
  margin: 10px;
}

.projectInfoContainer a {
  color: var(--background);
  text-decoration: none;
  background-color: var(--accent);
  border-radius: var(--borderRadius);
  padding: 10px;
}

.aProjectBox h5 {
  margin: 0;
}

p a {
  color: var(--accent);
  text-decoration: none;
}

.projectTags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.projectTag {
  padding: 5px 10px;
  border-radius: var(--borderRadius);
  font-size: 0.8rem;
  font-family: var(--paragraphFont);
  text-transform: uppercase;
}

.projectTag.language {
  background-color: var(--secondary);
  color: var(--text);
}

.projectTag.type {
  background-color: var(--accent);
  color: var(--text);
}

#footer {
  background-color: var(--background);
  padding: 40px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  flex-shrink: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
